
.public-header{
	height: 110px;
	background: #FFFFFF;
}

.public-header .public-logo{
	float: left;
	margin-top: 40px;
}
.public-header .public-logo a{
	display: block;
	width: 182px;
	height: 54px;
	background: url('../img/logo.png');	
}
.public-header .public-nav {
	float: right;
	font-size: 14px;
	
}
.public-header .public-nav  .item{
	float: left;
	margin-top: 44px;
	margin-left: 50px;
}
.public-header .public-nav a{
	color: #3b3b3b;
}
.public-container{
	position: relative;
	margin: 0 auto;
	
	width: 1100px;
}

.public-footer{
	height: 218px;
	padding-top: 100px;
	background:#3b3b3b;
}

.public-footer .footer-col{
	width: 230px;
	float: left;
	margin-right: 60px;
	font-size: 16px;
	color: #fff;
	line-height: 1.8;
}
/*last-child为父元素的最后一个元素赋值*/
.public-footer .footer-col:last-child{
	margin-right: 0;
}
.public-footer .footer-logo{
	width: 182px;
	height: 55px;
	margin-top: -10px;
	background: url(../img/footer-logo.png);
}
