/**************************************/


/*                Reset               */


/**************************************/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
address,
cite,
em,
img,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-text-size-adjust: none;
  word-break: break-all;
  word-wrap: break-word;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  cursor: pointer;
  color: #333;
}

:focus {
  outline: 0;
}

ul, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
}

input[type="search"]{-webkit-appearance:none;}
input::-webkit-search-cancel-button {display: none;}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}
body{
  background-color: #fff;
}
