
/* ---------- Google Font ---------- */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;padding-bottom:10px;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.italic { font-style: italic }
.aligncenter { display:block; margin:0 auto; }
.alignleft { float:left; margin:10px; }
.alignright { float:right;margin:10px; }
.no-margin{margin:0px;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.margin-t{margin-top:25px;}
div { position:relative } 
a{text-decoration:none;color:#0073B2;}
a:hover{text-decoration:underline;}
a:active,a:focus{outline: none;}


div,img{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/**** GENERAL STYLES*****/
html{-webkit-font-smoothing:antialiased;}


body { background:#e0e0e0; color:#454545; }

#menu-holder{width:600px;
 margin: 100px auto;}
 
.set-1 ul li{display:inline-block;margin-left:20px;margin-top:20px;}
.set-2{margin-top:50px;}
.set-2 ul li{display:inline-block;margin-left:20px;margin-top:20px;}
.content{margin-top:100px; text-align:center;}

.set-1 a {
	position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
   	width: 60px;
	text-align: center;
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

height:54px;
cursor:pointer;
overflow:hidden;

font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.set-1 a:active, .set-2 a:active {
   -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

.set-2 a {
	position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

	font-size:16px;
padding:10px 15px 10px 60px;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}


a.twitter-small, a.twitter-big{
 -webkit-box-shadow: 0px 6px 0px #2695BC;
    -moz-box-shadow: 0px 6px 0px #2695BC;
    box-shadow: 0px 6px 0px #2695BC;
}
a.twitter-small{background:#2CA9E1 url("images/twitter.png") no-repeat center center;}
a.twitter-big{background:#2CA9E1;}

a.twitter-small:active, a.twitter-big:active{ -webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #2695BC;
}

a.twitter-big:before{background: url("images/twitter.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.facebook-small, a.facebook-big{
 -webkit-box-shadow: 0px 6px 0px #293F63;
    -moz-box-shadow: 0px 6px 0px #293F63;
    box-shadow: 0px 6px 0px #293F63;
}
a.facebook-small{background:#3B5997 url("images/facebook.png") no-repeat center center;}
a.facebook-big{background:#3B5997;}

a.facebook-small:active, a.facebook-big:active{ -webkit-box-shadow: 0px 2px 0px #293F63;
    -moz-box-shadow: 0px 2px 0px #293F63;
    box-shadow: 0px 2px 0px #293F63;
}

a.facebook-big:before{background: url("images/facebook.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.pinterest-small, a.pinterest-big{
 -webkit-box-shadow: 0px 6px 0px #8C151B;
    -moz-box-shadow: 0px 6px 0px #8C151B;
    box-shadow: 0px 6px 0px #8C151B;
}
a.pinterest-small{background:#CD1D1F url("images/pinterest.png") no-repeat center center;}
a.pinterest-big{background:#CD1D1F}

a.pinterest-small:active, a.pinterest-big:active{ -webkit-box-shadow: 0px 2px 0px #8C151B;
    -moz-box-shadow: 0px 2px 0px #8C151B;
    box-shadow: 0px 2px 0px #8C151B;
}
a.pinterest-big:before{background: url("images/pinterest.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.gplus-small, a.gplus-big{
 -webkit-box-shadow: 0px 6px 0px #141412;
    -moz-box-shadow: 0px 6px 0px #141412;
    box-shadow: 0px 6px 0px #141412;
	position:relative;
}
a.gplus-small{background:#353631 url("images/gplus.png") no-repeat center center;}
a.gplus-big{background:#353631;}
a.gplus-small:active, a.gplus-big:active{ -webkit-box-shadow: 0px 2px 0px #141412;
    -moz-box-shadow: 0px 2px 0px #141412;
    box-shadow: 0px 2px 0px #141412;
}
a.gplus-big:before{background: url("images/gplus.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.rss-small,a.rss-big{
 -webkit-box-shadow: 0px 6px 0px #C64802;
    -moz-box-shadow: 0px 6px 0px #C64802;
    box-shadow: 0px 6px 0px #C64802;
}
a.rss-small{background:#FF6501 url("images/rss.png") no-repeat center center;}
a.rss-big{background:#FF6501;}
a.rss-small:active, a.rss-big:active{ -webkit-box-shadow: 0px 2px 0px #C64802;
    -moz-box-shadow: 0px 2px 0px #C64802;
    box-shadow: 0px 2px 0px #C64802;
}
a.rss-big:before{background: url("images/rss.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.dribbble-small, a.dribbble-big{
 -webkit-box-shadow: 0px 6px 0px #B23D6D;
    -moz-box-shadow: 0px 6px 0px #B23D6D;
    box-shadow: 0px 6px 0px #B23D6D;
}
a.dribbble-small{background:#E84D89 url("images/dribbble.png") no-repeat center center;}
a.dribbble-big{background:#E84D89;}
a.dribbble-small:active, a.dribbble-big:active{ -webkit-box-shadow: 0px 2px 0px #B23D6D;
    -moz-box-shadow: 0px 2px 0px #B23D6D;
    box-shadow: 0px 2px 0px #B23D6D;
}
a.dribbble-big:before{background: url("images/dribbble.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.linkedin-small, a.linkedin-big{
 -webkit-box-shadow: 0px 6px 0px #005377;
    -moz-box-shadow: 0px 6px 0px #005377;
    box-shadow: 0px 6px 0px #005377;
}
a.linkedin-small{background:#0073B2 url("images/linkedin.png") no-repeat center center;}
a.linkedin-big{background:#0073B2;}
a.linkedin-small:active, a.linkedin-big:active{ -webkit-box-shadow: 0px 2px 0px #005377;
    -moz-box-shadow: 0px 2px 0px #005377;
    box-shadow: 0px 2px 0px #005377;
}
a.linkedin-big:before{background: url("images/linkedin.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.stumble-small, a.stumble-big{
 -webkit-box-shadow: 0px 6px 0px #B7371D;
    -moz-box-shadow: 0px 6px 0px #B7371D;
    box-shadow: 0px 6px 0px #B7371D;
}
a.stumble-small{background:#EA4B24 url("images/stumble.png") no-repeat center center;}
a.stumble-big{background:#EA4B24;}
a.stumble-small:active, a.stumble-big:active{ -webkit-box-shadow: 0px 2px 0px #B7371D;
    -moz-box-shadow: 0px 2px 0px #B7371D;
    box-shadow: 0px 2px 0px #B7371D;
}
a.stumble-big:before{background: url("images/stumble.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.flickr-small, a.flickr-big{
 -webkit-box-shadow: 0px 6px 0px #C10E78;
    -moz-box-shadow: 0px 6px 0px #C10E78;
    box-shadow: 0px 6px 0px #C10E78;
}
a.flickr-small{background:#FC1090 url("images/flickr.png") no-repeat center center;}
a.flickr-big{background:#FC1090;}
a.flickr-small:active, a.flickr-big:active{ -webkit-box-shadow: 0px 2px 0px #C10E78;
    -moz-box-shadow: 0px 2px 0px #C10E78;
    box-shadow: 0px 2px 0px #C10E78;
}
a.flickr-big:before{background: url("images/flickr.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.vimeo-small, a.vimeo-big{
 -webkit-box-shadow: 0px 6px 0px #1993AF;
    -moz-box-shadow: 0px 6px 0px #1993AF;
    box-shadow: 0px 6px 0px #1993AF;
}
a.vimeo-small{background:#20B9EB url("images/vimeo.png") no-repeat center center;}
a.vimeo-big{background:#20B9EB;}
a.vimeo-small:active, a.vimeo-big:active{ -webkit-box-shadow: 0px 2px 0px #1993AF;
    -moz-box-shadow: 0px 2px 0px #1993AF;
    box-shadow: 0px 2px 0px #1993AF;
}
a.vimeo-big:before{background: url("images/vimeo.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}


