body,div,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
	margin: 0;
	padding: 0;
	font-family:arial, helvetica, sans-serif ;
} 
ol,ul,li{
	list-style: none;
}
a{text-decoration: none;
display: block;}
img{
	border: none;
	display: none;
}
.clearfloat{
	zoom: 1;
}

.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
