/* dede58.com 做最好的织梦模板 */
.mainHead {
	padding-top:40px;
}
.mainHead:after {
	content: "020";
	display: block;
	height: 0;
	clear: both;
	visibility:hidden;
}
.mainHead .left {
	width:435px;
	height:225px;
	line-height:225px;
	float:left;
}
.mainHead .left img {
	vertical-align:middle;
	width:100%;
	height:100%;
}
.mainHead .right {
	position:relative;
	width:656px;
	float:right;
}
.mainHead .right {
	line-height:26px;
	color:#666;
	font-size:14px;
}
.mainHead .right a {
	font-family:Arial, Helvetica, sans-serif;
	color:#0C75D2;
}
.mainContent .child {
	width:285px;
	margin-right:10px;
	vertical-align:text-top;
	padding-top:30px;
	display:inline-block;
*display:inline;
*zoom:1;
}
.mainContent .child .childImg {
	overflow:hidden;
	position:relative;
	width:285px;
	height:190px;
	line-height:212px;
	text-align:center;
	box-shadow: 0 0 15px #069DD4;
	border-radius:10px;
}
.mainContent .child .childImg {
	transition-duration: .5s;
	-ms-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
}
.mainContent .child:hover .childImg {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
.mainContent .child .childImg .childImgimg {
	width:100%;
	height:100%;
	vertical-align: top;
	border-radius:10px;
}
.mainContent .child .childImg .childHide {
	opacity:0;
	position:absolute;
	top:0px;
	left:-100%;
	width:100%;
	height:100%;
	background-image: linear-gradient(top, rgba(232,232,232, 0.8) 0%, rgba(214,214,214, 0.8) 100%);
	background-image: -o-linear-gradient(top, rgba(232,232,232, 0.8) 0%, rgba(214,214,214, 0.8) 100%);
	background-image: -moz-linear-gradient(top, rgba(232,232,232, 0.8) 0%, rgba(214,214,214, 0.8) 100%);
	background-image: -webkit-linear-gradient(top, rgba(232,232,232, 0.8) 0%, rgba(214,214,214, 0.8) 100%);
	background-image: -ms-linear-gradient(top, rgba(232,232,232, 0.8) 0%, rgba(214,214,214, 0.8) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(232,232,232, 0.8)), color-stop(1, rgba(214,214,214, 0.8)));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#d6d6d6'), progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.mainContent .child .childImg .childHide {
	transition-duration: .5s;
	-ms-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
}
.mainContent .child .childImg .childHide .childHideIcon {
	display:inline-block;
*display:inline;
*zoom:1;
	margin:0 2px;
	cursor:pointer;
	width:36px;
	height:36px;
	text-align:center;
	line-height:36px;
	border-radius:36px;
	-moz-border-radius:36px;
	-ms-border-radius:36px;
	-o-border-radius:36px;
	-webkit-border-radius:36px;
	background:#5f5f5f;
}
.mainContent .child .childImg .childHide .childHideIcon {
	transition-duration: .5s;
	-ms-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
}
.mainContent .child .childImg .childHide .childHideIcon:hover {
	background:#000;
}
.mainContent .child .childImg .childHide .childHideIcon img {
	vertical-align:middle;
}
.mainContent .child .childImg:hover .childHide {
	left:0;
	opacity:1;
	box-shadow: 0 0 15px #069DD4;
}
.mainContent .child .childTitle {
	line-height:24px;
	padding:20px 0 0 0;
	color:#333333;
	font-size:14px;
	text-align:center;
}
.mainContent .child .childTime {
	line-height:22px;
	padding:6px 0;
	color:#999999;
	font-size:12px;
}
.mainContent .child .childInfo {
	line-height:22px;
	font-size:12px;
	color:#666;
}
 @keyframes newsChild {
0% {
opacity:0;
transform:scale(0);
}
100% {
opacity:1;
transform:scale(1);
}
}
@-moz-keyframes newsChild {
0% {
opacity:0;
-moz-transform:scale(0);
}
100% {
opacity:1;
-moz-transform:scale(1);
}
}
@-webkit-keyframes newsChild {
0% {
opacity:0;
-webkit-transform:scale(0);
}
100% {
opacity:1;
-webkit-transform:scale(1);
}
}
@-o-keyframes newsChild {
0% {
opacity:0;
-o-transform:scale(0);
}
100% {
opacity:1;
-o-transform:scale(1);
}
}
@media (max-width: 639px) {
.mainHead {
	padding-top:20px;
}
.mainHead .left {
	width:100%;
	height:auto;
	line-height:normal;
	float:none;
}
.mainHead .right {
	width:100%;
	float:right;
	margin:10px 0 0 0;
}
.mainHead .right {
	line-height:22px;
	font-size:12px;
}
.mainContent .child {
	width:100%;
	margin-right:0px;
	padding-top:30px;
}
.mainContent .child .childImg {
	width:100%;
	height:auto;
	line-height:none;
}
.mainContent .child .childTitle {
	line-height:24px;
	padding:10px 0 0 0;
	font-size:14px;
}
.mainContent .child .childTime {
	line-height:20px;
	padding:4px 0;
	font-size:12px;
}
.mainContent .child .childInfo {
	line-height:20px;
	font-size:12px;
}
}
@media (min-width: 640px) and (max-width:1023px ) {
.mainHead {
	padding-top:40px;
}
.mainHead .left {
	width:100%;
	height:auto;
	line-height:normal;
	float:none;
}
.mainHead .right {
	width:100%;
	float:right;
	margin:20px 0 0 0;
}
.mainHead .right {
	line-height:26px;
	font-size:14px;
}
.mainContent .child {
	width:285px;
	margin-right:10px;
	padding-top:60px;
}
.mainContent .child .childImg {
	width:285px;
	height:212px;
	line-height:212px;
}
.mainContent .child .childTitle {
	line-height:24px;
	padding:20px 0 0 0;
	font-size:14px;
}
.mainContent .child .childTime {
	line-height:22px;
	padding:6px 0;
	font-size:12px;
}
.mainContent .child .childInfo {
	line-height:22px;
	font-size:12px;
}
}
@media (min-width: 1024px) and (max-width:1199px ) {
.mainHead {
	padding-top:30px;
}
.mainHead .left {
	width:355px;
	height:183px;
	line-height:183px;
}
.mainHead .right {
	width:535px;
}
}
@media (min-width: 1200px) and (max-width:1439px ) {
}
@media (min-width: 1440px) and (max-width:1920px ) {
}
.pages {
	text-align:center;
	margin: 64px 0 0 0;
}
.pages a, .pages span {
	display:inline-block;
	padding:9px 14px;
	margin:0 1px;
	border:1px solid #f0f0f0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.pages a, .pages li {
	display:inline-block;
	list-style: none;
	text-decoration:none;
	color:#58A0D3;
}
.pages a.first, .pages a.prev, .pages a.next, .pages a.end {
	margin:0;
}
.pages a:hover {
	border-color:#50A8E6;
}
.pages span.current {
	background:#50A8E6;
	color:#FFF;
	font-weight:700;
	border-color:#50A8E6;
}
