*{word-wrap:break-word;box-sizing: border-box;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size:14px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
body{line-height:1.6}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
/*
Name:			style_clearfix
Example:		class="clearfix|cl"
Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}

/*自定义公共*/
.fl{float: left;}
.fr{float: right;}
.mag{margin: 0}
.mag_bm{margin-bottom: 0}
.w_2{width: 200px;}
.w_1{width: 100px;}
.w_7{width: 70px;}
.border-default{border:0;}
.ml-defaul {margin-left: 30px}
.ml-negative{margin-left: -30px;}
.form-item_content{margin-left: -100px}
.font-z12{font-size: 12px}
.font-z14{font-size: 14px}
.font-z16{font-size: 16px}
.mt-default {margin-top: 15px}
.mr-default {margin-right: 15px}
.mb-default {margin-bottom: 15px}
.ml-default {margin-left: 15px}
.mt-small {margin-top: 5px}
.mr-small {margin-right: 5px}
.mr-sma{margin-right: 30px}
.mb-small  {margin-bottom: 5px}
.ml-small {margin-left: 5px}
.ds-inblok{display: inline-block}
.ds-block{display: block}
.el-right__inner{text-align: right}
.el-left__inner{text-align: left}
.cb-default{clear:both}
.rd-color{color: #FF0000;}
.title{height: 40px;line-height: 40px; }
.col-4{width: 40%}
.col-2{width: 20%}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.warpsetup  .warp-breadcrum{
    padding: 0px 0px;

}