body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #777;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #fff;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#a09f9f;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    width: 100%;
    background-color: #f1f1f1;
}
.mainColor{
    color: #3f8def;
}
.linkTo{
    color: #3f8def;
}
.linkTo:hover{
    text-decoration: underline;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a09f9f;
}

.clear:after{content: '';display: block;clear: both;}

.clear{zoom:1;}

.back_img{background-repeat: no-repeat;background-size: 100% 100%;}

.margin{ margin: 0 auto;}
/* 左右浮动*/
.left{ float: left;}
.right{float: right;}

/*隐藏及文字换行*/
.hide{display: none;}
.show{display: block;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* 轮播图的内部样式*/
.mint-swipe{
    width: 100%;
}
