#Bk-index{
    position: relative;
    font-size: 14px;
    color: #a4a4a4;
}

.Box{
   	width: 100%;
    margin: auto;
    padding: 0 20px; 
   	overflow-y:hidden;
   	overflow-y:hidden;
}

.Bk-header{
    padding-bottom: 17px;
    .header-title{
        font-size: 20px;
        text-align: center;
        padding: 20px 0;
    }
    .search-header-left{
        width: 720px;
        height: 30px;
        .search{
            position: relative;
            input{
                width: 651px;
                height: 30px;
                padding-left:22px; 
           }
           img{
                position: absolute;
                top:8px;
                left:5px;
           }
       }
       .searchBtn{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 64px;
            height: 30px;
            line-height: 30px;
            background-color: #0b77c7;
            text-align: center;
            color: #fff;
       }
    }
    .search-header-right{
        width: 113px;
        height: 30px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.Bk-content{
    .content-title{
        padding-bottom: 14px;
        color: #d8ac62;
        font-size: 16px;
        .more{
            font-size: 14px;
            color: #0086ee;
        }
    }
    .contList{
        li{
            width: 334px;
            height: 134px;
            float: left;
            border: solid 1px #ffffff;
            img{
                float: left;
                margin: 8px 0 0 6px;
                width: 119px;
                height: 119px;
            }
            .contItem{
                padding: 12px 0 0 12px;
                p{
                    width: 182px;
                    line-height: 24px;
                    margin: 10px 0;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
            }
        }
        li+li{
            margin: 0 0 9px 9px;
        }
        li:nth-child(3n+1){
            margin: 0 0 9px 0;
        }
    }
    .NoData{
        font-size: 16px;
        padding: 15px 0 25px 10px;
    }
}
