#Bk-index {
  position: relative;
  font-size: 14px;
  color: #a4a4a4;
}

.Box {
  width: 100%;
  margin: auto;
  padding: 0 20px;
  overflow-y: hidden;
  overflow-y: hidden;
}

.Bk-header {
  padding-bottom: 17px;
}

.Bk-header .header-title {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

.Bk-header .search-header-left {
  width: 720px;
  height: 30px;
}

.Bk-header .search-header-left .search {
  position: relative;
}

.Bk-header .search-header-left .search input {
  width: 651px;
  height: 30px;
  padding-left: 22px;
}

.Bk-header .search-header-left .search img {
  position: absolute;
  top: 8px;
  left: 5px;
}

.Bk-header .search-header-left .searchBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 64px;
  height: 30px;
  line-height: 30px;
  background-color: #0b77c7;
  text-align: center;
  color: #fff;
}

.Bk-header .search-header-right {
  width: 113px;
  height: 30px;
}

.Bk-header .search-header-right img {
  width: 100%;
  height: 100%;
}

.Bk-content .content-title {
  padding-bottom: 14px;
  color: #d8ac62;
  font-size: 16px;
}

.Bk-content .content-title .more {
  font-size: 14px;
  color: #0086ee;
}

.Bk-content .contList li {
  width: 334px;
  height: 134px;
  float: left;
  border: solid 1px #ffffff;
}

.Bk-content .contList li img {
  float: left;
  margin: 8px 0 0 6px;
  width: 119px;
  height: 119px;
}

.Bk-content .contList li .contItem {
  padding: 12px 0 0 12px;
}

.Bk-content .contList li .contItem p {
  width: 182px;
  line-height: 24px;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.Bk-content .contList li + li {
  margin: 0 0 9px 9px;
}

.Bk-content .contList li:nth-child(3n+1) {
  margin: 0 0 9px 0;
}

.Bk-content .NoData {
  font-size: 16px;
  padding: 15px 0 25px 10px;
}
