*{box-sizing: border-box;margin: 0;padding: 0;}
.fl{float: left;}
.fr{float: right;}
.pull-hidd{overflow:hidden}
body{
	overflow-x:hidden;
	overflow-y:hidden;
}
#searchMain{
	height: 100vh;
	position: relative;
	font-size: 14px;
	color: #a4a4a4;
	background: url(../images/bg.png) center center;
	background: #000;
}
.searchBox{
	width: 100%;
	margin: auto;
	overflow-x:hidden;
	overflow-y:hidden;
}
.search-header{
	padding: 0 20px;
}
.search-header .search-header-title{
	text-align: center;
	margin-bottom: 28px;
	font-family: MicrosoftYaHei;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	color: #a8a8a8;
}
.search-header .search-header-left .icon-arrow-left{
	width: 26px;
	height: 19px;
	margin-right: 15px;
	margin-top: 5px;
	cursor: pointer;
}
.search-header .search-header-left .search{
	width: 651px;
	height: 30px;
	/* background-color: #565656; */
	background: url(../images/home-input.png) center center;
}
.search-header .search-header-left .search img{
	width: 14px;
	height: 14px;
	margin: 8px 0 0 5px;
}
.search-header .search-header-left .search input{
	width: 625px;
	height: 26px;
	display: inline-block;
	margin-left: 10px;
	background: none;
	border: none;
	margin: 2px 0;
	outline:none;
	padding-left: 10px;
	color: #fff;
}
.search input::-webkit-input-placeholder{
	color:#aaaaaa;
}
.search input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#aaaaaa;
}
.search input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#aaaaaa;
}
.search input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color:#aaaaaa;
}
.search-header .search-header-left .searchBtn{
	width: 64px;
	height: 30px;
	display: inline-block;
	background:url(../images/buttonBgblue.png) no-repeat center center;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	margin-left: 5px;
	cursor: pointer;
}
.search-header .search-header-left .btn{
	
}
.search-header-right img{
	cursor: pointer;
}

.search-cont{
	margin-top: 12px;
	padding: 0 18px;
}
.search-cont .cont-title{
	font-size: 16px;
	color: #d8ac62;
}
.search-cont .contList{
	width: 100%;
	margin: 6px 0;
}
.search-cont .contList li{
	float: left;
	width: 334px;
	height: 134px;
	border: solid 1px #525252;
/* 	border-image-source: url(../images/home-border.png);
	border-image-slice: 2;
	border-style: solid; */
	/* opacity: 0.23; */
	padding: 6px;
	box-sizing: border-box;
	margin: 4px 0;
	list-style: none;
	cursor: pointer;
}
.search-cont .contList li .contItem{
	width: 196px;
	padding-left: 12px;
}
.search-cont .contList li img{
	width: 119px;
	height: 119px;
	display: inline-block;
	background-color: #252525;
	float: left;
}
.search-cont .contList li .itemTitle{
	font-size: 16px;
	color: #fff;
}
.search-cont .contList li .itemCont{
	margin-top: 20px;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	color: #aaaaaa;
}
.search-cont .contList li .itemDistance{
	color: #494949;
	margin-top: 17px;
	display: block;
}
.search-footer{
	padding: 0 20px;
	text-align: right;
}
.search-footer .footer-page{
	float: right;
	margin-top: 17px;
}
.search-cont .contList li:nth-child(2),.search-cont .contList li:nth-child(5),.search-cont .contList li:nth-child(8),.search-cont .contList li:nth-child(11){
	margin-left: 8px;
	margin-right: 8px;
}
.search-header{
	padding: 0 20px;
}
.search-cont{
	padding-left: 22px;
	max-height: 600px;
	min-height: 300px;
}
.NoData{
	line-height: 250px;
    text-align: center;
    font-size: 20px;
}
