/*地产页开始*/
charset "utf-8";
@import url("public.css");
body {margin:0px auto; padding:0px; font-size:12px; font-family:"microsoft yahei";}
td,dd,th{line-height:20px;font-size:12px;}
input,textarea,select{ine-height:1.3; font-size:12px; padding:0px; font-family:Arial; color:#666; resize:none; background-color:#FFFFFF;}
img{border:none;}
ul,li{list-style:none; padding:0px;}
span,p,dd,dt,dl,h1,h2,h3,h4,h5,h6,form{margin:0px auto;padding:0px;}

.clearfix{clear:both;}
.clearfix_0{height:1px; overflow:hidden; display:block; clear:both;}
.none{display:none;}


.wjmm:link{color:#3d2b10; text-decoration:none;}
.wjmm:visited{color:#3d2b10; text-decoration:none;}
.wjmm:active{color:#3d2b10; text-decoration:none;}
.wjmm:hover{color:#FFFFFF; text-decoration:none;}


.both {clear:both;}
.white {width:1032px; margin:0px auto;}
.bt {width:1032px; height:70px; overflow:hidden; line-height:70px; font-size:36px; color:#f86900; font-weight:bold;}
.bt_wz {width:1000px; height:200px; overflow:hidden; background:url(../images/bg.jpg) no-repeat bottom; font-size:14px; line-height:2; margin:0px auto;}
.trxm {width:1032px; height:82px; overflow:hidden; line-height:82px; font-size:16px;}
.tpbh {width:1032px; margin:0px auto;}
.tpbh ul{width:1032px; margin:0px auto;}
.tpbh ul li{width:344px; height:317px; overflow:hidden; margin-bottom:30px; float:left; text-align:center;padding:5px;}
/*地产页结束*/