* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden
}

.bg {
    width: 100%;
    max-width: 1920px;
    height: auto;
    position: relative;
}

.bg img {
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
}

.box {
    width: 60%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.jz {
    /* float: left; */
    width: 100%;
    height: auto;
    margin: auto;
    /* padding-left: 200px; */
}

.jz p {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.jz span {
    display: block;
    width: 100%;
    height: 200px;
    line-height: 200px;
    margin: 20px 0;
    text-align: center;
    font-size: 65px;
    background: #ffffff;
    border-radius: 25px;
    font-weight: bold
}

#btntxt {
    cursor: pointer;
    margin-top: 20px;
}

.start,
.stop {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 64px;
    border-radius: 10px;
    margin: auto;
    color: #ffffff;
    cursor: pointer;
}

.btnno {
    width: 280px;
}

.disblock {
    display: block;
}

.disnone {
    display: none;
}

.start {
    background-image: url(play.png);
}

.list {
    height: 460px;
    overflow-y: scroll;
    cursor: pointer;
}

.zjmd {
    display: none;
    float: left;
    width: 300px;
    height: 500px;
    background: #666;
    margin-top: 30px;
    margin-left: 30px;
    background: #ffffff;
    overflow: hidden;
}

.zjmd .p1 {
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.zjmd p {
    line-height: 30px;
    text-align: left;
    text-align: justify;
    padding-left: 30px;
}

@media screen and (min-width: 1366px) {
    .box {
        width: 36%
    }
    .bg img {
        height: 100px;
    }
}

@media screen and (max-width: 1366px) {
    .box {
        width: 50%
    }
    .bg img {
        width: 100%
    }
}