body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.notice{
	width: 298px;
	height: 98px;
	margin: 10px;
	border: 1px solid blue;
	overflow: hidden;
}
.notice-tit{
	height: 27px;
	position: relative;
	background: #f7f7f7;
}
.notice-tit ul{
	position: absolute;
	width: 301px;
	left: -1px;
}
.notice-tit li{
	float: left;
	width: 58px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow:hidden;
    background: #fff;
    padding: 0 1px ;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    }
.notice-tit li a ,.notice-tit li a:visited{
	color: #000;
	}
.notice-tit li a:hover{
	color: #f90;
}
.notice-tit li.select{
	background: #FFF;
	border-bottom-color:#fff ;
	border-left:1px solid #eee;
	border-right:1px solid #eee ;
	padding: 0;
	font-weight: bold;
	}
	
.notice-con .mod{
	maring:10px 10px 10px 19px;
	
}
.notice-con .mod ul li{
	float: left;
	width: 134px;
	height: 25px;
	overflow: hidden;
	
}
