#container #customSwiper{
  width:500px;
  height:350px;
  background: #0184BB;
  box-sizing: border-box;
  position: relative;
	overflow: hidden;
}
/* #customSwiper:hover .arrow { display: block;} */
#customSwiper .imageList{
  width: 500px;
  height:350px;
  position: relative;
}
.imageList img{
  width: 500px;
  height: 350px;
  float: left;
}
#customSwiper .spot{
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.spot i{
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	border-radius: 50%;
	margin:0 2px;
	cursor: pointer;
	border: 1px solid #096A94;
	box-sizing: border-box;
}
.spot .active{
	background: darkgoldenrod;
	border: 1px solid darkgoldenrod;
}
.arrow {
	cursor: pointer;
  display: block;
	line-height: 36px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	width: 40px;
	height: 40px; 
	position: absolute; 
	z-index: 2;
	top: 50%;
	margin-top:-20px;
	background-color: RGBA(0,0,0,.3);
	color: #fff;
	text-decoration: none;
	}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#prev { left: 20px;}
#next { right: 20px;}