
/*速度动画*/
body,div,span{
margin:0;
padding:0;
}
#div1{
width: 200px;
height: 200px;
background:red;
position:relative;
left:-200px;
top:0;
}
#div1 span{
width: 20px;
height: 50px;
background: blue;
position: absolute;
left: 200px;
top: 75px;
}

/*透明度*/
#div2{
	width: 200px;
	height: 200px;
	background: red;
	filter: alpha(opacity:30);
	opacity: 0.3;
}
